* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive !important;
}

.header-logo {
    height: 95px;
    margin-left: 5px;
    margin-top: 5px;
    width: 130px;
}

#jumbo-header-text {
    color: rgba(243, 243, 243, 0.774);
}

#jumbo-header-subtext {
    color:rgba(168, 223, 192, 0.692)
}

#jumbotron {
    background:url(images/planet-g811dbd317_1920-pixabay.jpg) no-repeat center center fixed;
    -webkit-background-composite: cover;
    background-size: cover;
}

#searchBars {
    float: left;
    width: 15%;
    margin-left: 15px;
}

.results-screen {
    float: right;
    width: 80%;
    margin-right: 25px;
}

.monsterCard {
    background-color: whitesmoke;
    width: 250px;
    min-height: 125px;
    padding: 12px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

  
  .list-group-item:hover, .list-group-item:focus {
    /* background-color: #30c071; */
    background-color: #acb9db;
    
  }
  
  .list-group {
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    /* overflow: hidden; */
    color: #0a0a0a;
    list-style: none;
    width: auto;
  }
  
  
  .list-group-item {
    /* text-align: center; */
    padding: 2px;
    border-bottom: 1px solid #e6e6e6;
  }
  
 